.wrapper{
    padding: 8px 19px;
    display: flex;
    align-items: center;
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
.image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.container{
    margin-left: 12px;
}
.name{
    font-size:1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    svg{
        color:rgb(32, 213, 236);
        margin-left: 6px;
        font-size: 1.4rem;
        }
}


.username{
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.5);
}