@import 'normalize.css';

:root{
    --primary: rgba(254, 44, 85, 1.0);
    --black: #000;
    --text-color:#333;
    --white: #fff;
    --font-family: 'ProximaNova';
    --default-layout-height-header:60px;
    --default-layout-padding-header: 24px;
    --width-layout-content: 1150px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size:1.6rem;
    line-height: 1.5;
    text-rendering: optimize;
    .tippy-box{
        background-color: rgba(84, 84, 84, 0.92);
        padding:8px;
        font-size: 1.6rem;
        font-weight:600;
        border-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow{
        color:rgba(84, 84, 84, 0.92);
        z-index:999;
        top: -1;
    }
}
// Scroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,input,[tabindex]{
    outline:none;
    border:none;
}

a[href]{
    text-decoration:none;
    color: var(--text-color);
}

// font
@font-face {
    font-family: ProximaNova;
    src: url('/assests/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url('/assests/fonts/Proxima-Nova-Regular.woff2');
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url(/assests/fonts/ProximaNova-Semibold.woff2);
}

@font-face {
    font-family: SofiaPro;
    font-weight: 700;
    src: url(/assests/fonts/sofiapro-bold.woff);
}
