.wrapper{
    --search-border-radius: 92px;
    width:100%;
    height:var(--default-layout-height-header); 
    box-shadow: 0 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.inner{
    height:100%;
    width: var(--width-layout-content);
    padding: 0 var(--default-layout-padding-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// Search
// -------------------------------------------------
.menu-more{
    margin-left: 8px;
    background-color:transparent;
    font-size: 1.8rem;
    cursor:pointer;
    padding: 14px 16px;
    color: rgb(22, 24, 35);
}
// Actions
// -------------------------------------------------
.action{
    height: 100%;
    display: flex;
    align-items: center;
}
.box{
    background-color: rgba(22, 24, 35, 0.3);
    height: 60px;;
    width: 60px;
}
.btn-icon{
    background-color: transparent;
    margin-left: 22px;
    cursor: pointer;
}
.icon{
    font-size: 1.8rem;
}
.bg-trans{
    background-color: transparent;
}
.img{
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}